@{
    ViewData["Title"] = "Search ranking checker";
}

<div class="text-center">
    <form method="get" action="Home/SearchRankResult">
    Keyword<br />
    <input type="text" name="keyword" value="" /><br />
    Site<br />
    <input type="text" name="site" value="" /><br /><br />
    <input type="submit" value="Submit" class="submit" />
</form>
</div>
